@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap');

::-moz-selection { background: #cde9e1; }
::selection { background: #cde9e1; }

body {
  font-family: 'Montserrat', sans-serif !important;
  overflow-x: hidden;
  max-width: 100%;
  background: url("../img/dot.svg");
  background-size: 16px 2px;
  background-position: 0;
  scroll-behavior: smooth;
}

h1 {
  font-weight: 700 !important;
  font-size: 2em !important;
  letter-spacing: -1px !important;
}

h2, h3 {
  font-weight: 600 !important;
}

p, a.main-link {
  line-height: 1.8;
  font-size: 1em;
}

@media (min-width: 992px) {
  h1 {
    font-size: 3em !important;
    letter-spacing: -2px !important;
  }

  p, a.main-link {
    line-height: 2;
    font-size: 1.2em;
  }
}

a[href] {
  color: #212529;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0,1,1,1);
}

a[href]:hover {
  color: #212529;
}

a[href].new-card:hover {
  transform: translateY(-8px);
}

a.main-link {
  position: relative;
  display: inline-block;
}

a.main-link::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  bottom: 5px;
  height: 1px;
  width: 100%;
  background: #000;
  transition: all .3s ease;
  opacity: .75;
}

@media (min-width: 992px) {
  a.main-link::after {
    bottom: 7px;
  }
}

a.main-link:hover::after,
a.main-link:focus::after,
a.main-link:active::after {
  width: 8px;
}

canvas {
  box-shadow: 0 0 32px rgba(0,0,0,0.12);
  border-radius: 0.5em;
}

.new-card {
  background: #fff;
  box-shadow: 0 0 32px rgba(0,0,0,0.12);
  border-radius: 0.5em;
  display: inline-block;
  max-width: 150px;
}

.new-card img {
  border-radius: 0.5em;
  width: 100%;
}

[data-aos="short-fade-up"] {
  opacity: 0;
  transform: translateY(20px);
  transition-property: transform, opacity;
}

[data-aos="short-fade-up"].aos-animate {
  transform: translateY(0);
  opacity: 1;
}

[data-aos="short-fade-down"] {
  opacity: 0;
  transform: translateY(-20px);
  transition-property: transform, opacity;
}

[data-aos="short-fade-down"].aos-animate {
  transform: translateY(0);
  opacity: 1;
}

[data-aos="short-fade-right"] {
  opacity: 0;
  transform: translateX(-20px);
  transition-property: transform, opacity;
}

[data-aos="short-fade-right"].aos-animate {
  transform: translateX(0);
  opacity: 1;
}

